# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/engpu/
env/
# Secrets
.env
.streamlit/secrets.toml

# Uploaded documents
uploads/*
!uploads/.gitkeep

# ChromaDB
chroma_db/

# Model / Hugging Face caches
.cache/
huggingface/
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log